h1 {
  border: 2px solid red;
}
h2 {
  border: 2px solid red;
}
h3 {
  border: 10px solid blue;
}
.main {
  background-color: lightcoral;
  border: 5px solid green;
}
.main2 {
  display: flex;
  justify-content: space-between;
}
.main2 .box {
  height: 200px;
  width: 200px;
  border: 2px solid red;
}
