@media only screen and (max-width:1160px)  {
    
}
@media only screen and (max-width:992px)  {
    #Header{
        background-size: cover;
    }
    /* .container{
        width: 100%;
    } */
}
@media only screen and (max-width:768px)  {
    .navlist .list .nava {
        font-size: 20px;
    }
}
@media only screen and (max-width:576px)  {
    .navlist{
        display: none;
    }
    .navbar .icon-bar{
        display: block;
    }
    .header-main .p-header{
        width: 80%;
        margin: 20px 0;
    }
    .header-main{
        text-align: left;
    }
}